/*variables, base reset, etc*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1");

* {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #242424;
  font-family: sans-serif;
  /* 90px 20px 0*/
}

body::-webkit-scrollbar {
  display: none;
}

ul,
li {
  list-style: none;
}

/*particles' settings*/
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
}
/* navbar and header styles */
.header {
  /*background: linear-gradient(to right, #FF00E5, #07ADEF);*/
  background-color: black;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-link,
.logo {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  font-family: "Inconsolata", monospace;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  filter: brightness(1.4);
  filter: drop-shadow(1px 2px 8px rgb(255, 255, 255));
  z-index: 10;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #242424;
  transition: 0.5s;
  border-bottom: 1px solid white;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 996px) {
  .header {
    height: 60px;
  }

  .logo {
    font-size: 25px;
    padding: 0 40px;
    line-height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(9 8 8 / 0.35);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .menu-icon {
    position: relative;
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-icon::before {
    transform: translateY(-8px);
  }

  .menu-icon::after {
    transform: translateY(8px);
  }

  /* Hamburgues Icon Animation*/

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: rgba(255, 255, 255, 0.6);
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu-visible {
    left: 0;
  }

  .menu-icon.menu-open {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-icon.menu-open::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-icon.menu-open::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}

/*welcome section style*/
.welcome-section {
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  padding-top: 90px;
}

@media (max-width: 996px) {
  .welcome-section {
    padding-top: 70px;
  }
}

.welcome-section-title {
  width: 100%;
  height: 40px;
  max-width: 50vw;
  min-width: 300px;
  display: flex;
  background-color: black;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 15px 15px 0 0;
  font-size: calc(1.2em + 0.5vw);
  font-family: "Inconsolata", monospace;
  z-index: 2;
}

.welcome-section-content {
  width: 100%;
  max-width: 50vw;
  min-width: 300px;
  padding: 1em;
  background-color: rgba(103, 102, 102, 0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: calc(1em + 0.5vw);
  font-family: "Inconsolata", monospace;
  line-height: calc(1.5em + 0.1vw);
  text-align: left;
  z-index: 0;
}

.hidden {
  display: none;
  visibility: hidden;
  z-index: 0;
}

.welcome-section-content + p {
  padding-top: 20vh;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: calc(1.2em + 0.5vw);
  font-weight: 300;
}

.welcome-section-content + p > a {
  position: relative;
  list-style: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 900;
}

/*skills section*/

.skills-section {
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
}

.skills-container {
  position: relative;
  margin: 10px 20px;
  width: 100%;
  max-width: 50vw;
  min-width: 300px;
  border-bottom: solid white;
  background-color: rgba(103, 102, 102, 0.12);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.skills-section-title {
  position: relative;
  padding: 30px;
  font-size: calc(1em + 0.5vw);
  display: flex;
  justify-content: space-between;
}

.skills-section-title > svg {
  transition: transform 0.7s ease-in;
}

.skills-container > div,
.skills-container p {
  position: relative;
  padding: 0 10px;
}

.grid-skills {
  padding: 0;
  margin: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-skills .grid-item {
  width: 80px;
}

@media (max-width: 680px) {
  .grid-skills .grid-item {
    width: 60px;
  }
}

/*projects section*/

.projects-section {
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.projects-section-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  min-height: 550px;
  z-index: 1;
  backdrop-filter: blur(5px);
}
.main-carousel {
  margin: 30px;
}

.carousel-cell {
  width: 100%;
  min-height: fit-content;
  border-radius: 5px;
}
/* no circle */
.flickity-button {
  background: transparent;
  visibility: visible;
}
.flickity-button:hover {
  background: transparent;
}
.flickity-button:focus {
  box-shadow: 0 0 0 5px white;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
.flickity-page-dots .dot {
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}
.bar {
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
}

.bar div,
.bar div::after,
.bar div::before {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #ff5f57;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 10px;
}

.bar div::after {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}

.bar div::before {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
}

.project-tile {
  padding: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.project-tile .screen {
  width: fit-content;
  background: none;
  height: fit-content;
}

.project-image-tags {
  max-width: 600px;
  min-width: 300px;
}

@media (max-width: 360px) {
  .project-image-tags {
    min-width: 250px;
  }
}

.project-image source,
.project-image img {
  width: 100%;
  height: auto;
  z-index: 10;
}

.project-image-tags:hover {
  filter: brightness(50%);
}

.project-image-tags-hidden:hover .project-image {
  opacity: 0;
}

/*hover image for each project*/

.project-image-tags:hover.project-timo:hover {
  background-image: url("/assets/projects/timo-admin-panel.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-image-tags:hover.project-dugol:hover {
  background-image: url("/assets/projects/how-works-dugol.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.screen {
  color: #999;
  text-decoration: none;
  position: relative;
}

.project-tags {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-content: center;
}

.project-tags:hover {
  opacity: 1;
}

.project-tag {
  width: fit-content;
  background-color: #313131;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  font-weight: bold;
  color: white;
  filter: brightness(1.1);
  font-size: 13px;
  height: fit-content;
  flex: 0 0 calc(20% - 40px);
  text-align: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 30px;
  max-width: 1000px;
  line-height: 30px;
}

@media (max-width: 1060px) {
  .project-tile {
    flex-direction: column;
  }

  .carousel-cell {
    height: max-content;
  }
}

@media (max-width: 498px) {
  .project-tile {
    padding: 0;
    justify-content: center;
  }

  .flickity-button {
    visibility: hidden;
  }
}

@media (min-width: 670px) {
  .project-tile h2 {
    font-size: 34px;
  }
  .project-tile p {
    font-size: 22px;
  }
}

@media (min-width: 1060px) {
  .project-tile h2 {
    font-size: 26px;
  }
  .project-tile p {
    font-size: 16px;
  }

  .carousel-cell {
    height: fit-content;
  }
}

@media (min-width: 1140px) {
  .project-tile h2 {
    font-size: 32px;
  }
  .project-tile p {
    font-size: 20px;
  }

  .project-image-tags {
    min-width: 400px;
  }
}

.project-link-github {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.project-info .project-link-github div {
  width: 50px;
  fill: white;
  transition: all 0.3s ease-in-out;
}

.project-info .project-link-github div:hover {
  filter: brightness(1.4);
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  z-index: 10;
}
@media (max-width: 660px) {
  .project-info .project-link-github div {
    width: 35px;
  }
}

/*contact section*/

.contact-section {
  min-height: 50vh;
  position: relative;
}

.footer-contact {
  display: flex;
  position: absolute;
  bottom: 0;
  min-height: 110px;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}

.footer-contact::before,
.footer-contact::after {
  content: "";
  position: absolute;
  left: -8px;
  top: -3px;
  background: linear-gradient(120deg, #ffffff, #000000);
  background-size: 300%;
  width: calc(100% + 16px);
  height: 5px;
  z-index: -1;
  animation: linear-effect 15s ease infinite;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  bottom: 1;
  background: linear-gradient(120deg, #ffffff, #000000);
  background-size: 300%;
  width: calc(100% + 16px);
  height: 2px;
  z-index: -1;
  animation: linear-effect 15s ease infinite;
}

@keyframes linear-effect {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 330%;
  }
}

.footer-contact:after {
  filter: brightness(1.4);
  filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
  filter: blur(15px);
}

.footer-contact .contact-item {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  transition: all 0.3s ease-in-out;
}

/* .footer-contact .contact-item:hover {
  background-color: rgba(90, 90, 90, 0.425);
} */

.footer-contact .contact-item:hover {
  filter: brightness(1.4);
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  z-index: 10;
}
.footer-contact svg {
  width: 100%;
  z-index: 999;
}
